.hero_info h1 {
  line-height: 1.9px;
  margin-bottom: 40px;
  font-size: 5.1rem;
  color: #0000ff;
}

.hero_para {
  line-height: 8.5px;
  margin-top: 70px;
  font-size: 1.5rem;
}
.hero_para p {
  color: black;
}
.hero_main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  color: black;
}

.contact--btn {
  margin-top: 15px;
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;

  background-color: #0000ff;
}

@media only screen and (max-width: 568px) {
  .hero_info h1 {
    line-height: 1px;
    margin-bottom: 10px;
    font-size: 3rem;
    color: #0000ff;
  }

  .hero_para {
    line-height: 6px;
    margin-top: 50px;
    font-size: 1rem;

    text-wrap: wrap;
  }

  .hero_main {
    display: block;
  }
}
